.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@200&display=swap');

* {
    font-family: 'Noto Sans Thai', sans-serif;
}
